<%= form_with(model: @loan, local: true) do |f| %>
  <div class="form-group">
    <%= f.number_field :amount, class: "input", placeholder: "Loan Amount" %>
  </div>

  <div class="form-group">
    <%= f.date_field :due_date, class: "input", placeholder: "Due Date" %>
  </div>

  <div class="form-group">
    <%= f.number_field :monthly_income, class: "input", placeholder: "Monthly Income" %>
  </div>

  <div class="form-group">
    <%= f.number_field :duration, class: "input", placeholder: "Loan Duration" %>
  </div>

  <div class="form-group">
    <%= f.select :institution_id, Institution.all.collect { |i| [i.name, i.id] }, { prompt: "Select Institution" }, class: "input" %>
  </div>

  <div class="submit-button">
    <%= f.submit "Create Loan", class: "btn-primary" %>
  </div>
<% end %>
