<%= form_with(model: @loan, local: true) do |form| %>

  <div class="form-group">
    <%= form.label :institution_id, "Institution" %>
    <%= form.collection_select :institution_id, Institution.all, :id, :name, prompt: "Select Institution", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :loan_amount %>
    <%= form.number_field :loan_amount, step: 0.01, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :interest_rate %>
    <%= form.number_field :interest_rate, step: 0.01, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :loan_term, "Loan Term (months)" %>
    <%= form.number_field :loan_term, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>

<% end %>
